
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Information System</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- <link rel="stylesheet" href="./emp.css"> -->

    <style>
        body {
            background-color: #f8f9fa; /* Light  background */
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        nav {
            background-color:#8ACDD7; /* Blue background color for the navigation bar */
            padding: 10px;
        }

        .navbar-brand {
            color: #072541; /*  text colour for the brand */
            font-size: 24px;
        }

        .navbar-brand:hover {
            text-decoration: none; /* Remove underline on hover */
            color: #072541;
        }

        .navbar-nav .nav-link {
            color: #072541; /* color text for links */
            font-size: 18px;
            margin-right: 20px;
        }

        .navbar-nav .nav-link:hover {
            border-bottom: 2px solid #071952; /*  underline on hover */
        }

        .container {
            margin-top: 20px;
        }

        h1 {
            color:#072541; /* Blue heading color */
            font-size: 36px;
            margin-bottom: 20px;
        }

        .center {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            background-color: #ffffff; /* White background for the center */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
        }

        p {
            font-size: 18px;
            color: #0c0b0b; /* Dark  text */
            line-height: 1.6;
        }
    </style>
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="height: 60px;">
        <div class="container">
            <a class="navbar-brand" href="/" style="font-size: 30px;">Employee Information System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav" style="font-size: 30px;">
                    <li class="nav-item">
                        <a class="nav-link" href="/showEmp">SHOW</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/insertEmp">INSERT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/searchEmp">SEARCH</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

   

 <table class="table border container-sm table-warning table-hover w-55" style="margin-top: 20px;">
    <thead>
        <th>ENO</th>
        <th>NAME</th>
        <th>GENDER</th>
        <th>CITY</th>
        <th>DESIGNATION</th>
        <th>DEPARTMENT</th>
        <th>SALARY</th>
    </thead>
    <tbody>
        <% data.forEach((v)=> { %>
            <tr>
                <td>
                  <%= v.eno %>
                </td>
                <td><%= v.ename %> </td>
                <td>
                    <%= v.gender %>
                </td>
                <td>
                    <%= v.city %>
                </td>
                <td>
                    <%= v.designation %>
                </td>
                <td>
                    <%= v.department %>
                </td>
                <td>
                    <%= v.salary %>
                </td>

            </tr>
            <% }) %>
      </tbody>
   
 </table>






</body>
</html>
